@charset "UTF-8";
body,
div,
span,
h1,
p,
a,
img,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: none !important;
  background: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  padding-right: 0 !important;
  font-family: "Noto Sans TC", "微軟正黑體", Arial, Helvetica, sans-serif;
}

.modal-open {
  overflow: initial !important;
}

a:focus,
button:active,
button:focus,
area:active,
area:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

img {
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 768.98px) {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }
}

header {
  background-color: #dc0001;
  position: relative;
  padding: 10px 0;
  overflow: hidden;
}

header > .container {
  max-width: 1140px;
  padding: 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1199.98px) {
  header > .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 991.98px) {
  header > .container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

header .header__logo {
  display: block;
  max-width: 168px;
  margin-right: 12px;
}

header .header__shoplist,
header .header__memberlist {
  line-height: 12px;
}

@media screen and (max-width: 991.98px) {
  header .header__shoplist,
  header .header__memberlist {
    display: none;
  }
}

header .header__shoplist li,
header .header__memberlist li {
  display: inline-block;
  line-height: 1.1;
}

header .header__shoplist a,
header .header__memberlist a {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

header .header__shoplist li {
  padding: 0 10px;
  border-left: 1px solid #fff;
}

header .header__shoplist li:last-child {
  border-right: 1px solid #fff;
}

header .header__memberlist li {
  padding: 0 3px;
}

.footer {
  text-align: center;
  background-color: #5a5a5a;
}

.bank-slogan {
  padding: 15px 10px;
  color: #fff;
  background-color: #343434;
}

.bank-slogan__title {
  display: inline-block;
  padding: 5px 20px;
  font-size: 1.25rem;
  font-weight: 300;
  border: 1px solid #fff;
}

.bank-slogan__text {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}

.pchome-slogan {
  padding: 15px 10px 15px;
  font-size: 16px;
  line-height: 1.75;
  color: #fff;
  background-color: #000;
}

.footer__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin-bottom: 15px;
}

.footer__icon-list li {
  display: inline-block;
  margin-bottom: 5px;
  padding: 0 3px;
}

.footer__icon-list img {
  width: 40px;
}

.pchome-slogan__text {
  font-size: 14px;
}

@media screen and (max-width: 575.98px) {
  .pchome-slogan__text {
    font-size: 12px;
  }
  .pchome-slogan__text span {
    display: block;
  }
  .pchome-slogan__text br {
    display: none;
  }
}

.right__box {
  position: fixed;
  top: auto;
  left: auto;
  right: 5px;
  bottom: 20px;
  z-index: 30;
  display: none;
}

.gotop {
  width: 42px;
  height: 42px;
  padding: 7px 6px 3px;
  overflow: hidden;
  background-color: #a6a6a6;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.gotop img {
  width: 100%;
}

body {
  overflow-x: hidden;
}

@media screen and (max-width: 768.98px) {
  .pc {
    display: none;
  }
}

.mb {
  display: none;
}

@media screen and (max-width: 768.98px) {
  .mb {
    display: block;
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #fff;
}

@media screen and (max-width: 768.98px) {
  .wrap {
    padding-top: 95px;
  }
}

.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px;
  background-color: #fff;
}

@media screen and (max-width: 1199.98px) {
  .top-section {
    max-width: 960px;
  }
}

.top-section__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-section__left .apple-title {
  margin: 0 25px 0 0;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1px;
}

@media screen and (max-width: 768.98px) {
  .top-section__left .apple-title {
    margin-right: 0;
    font-size: 1.3rem;
    font-weight: 500;
  }
}

.top-section__left .apple-logo {
  width: 150px;
  max-width: 150px;
}

@media screen and (max-width: 768.98px) {
  .top-section__left .apple-logo {
    display: none;
  }
}

.top-section__slider {
  max-width: 375px;
}

@media screen and (max-width: 768.98px) {
  .top-section__slider {
    position: fixed;
    top: auto;
    left: 0;
    right: auto;
    bottom: 0;
    z-index: 50;
    width: 100%;
    max-width: 768px;
    background-color: #fff;
  }
  .top-section__slider img {
    width: 100%;
  }
}

.top-section__btn {
  width: 42px;
  height: 32px;
  padding: 6px;
  display: none;
}

@media screen and (max-width: 768.98px) {
  .top-section__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .top-section__btn:focus {
    border: 2px solid blue;
  }
}

.top-section__btn span {
  width: 100%;
  height: 2px;
  display: block;
  background-color: #343434;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.top-section__btn.is-opened span:first-child {
  -webkit-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}

.top-section__btn.is-opened span:nth-child(2) {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.top-section__btn.is-opened span:last-child {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}

.top-section:after {
  width: 42px;
  height: 32px;
  content: "";
  display: none;
}

@media screen and (max-width: 768.98px) {
  .top-section:after {
    display: block;
  }
}

.nav {
  padding: 0px 15px;
  background-color: #343434;
}

.nav__tabs {
  margin: 0 auto;
  list-style: none;
}

.nav__tab {
  display: inline-block;
  position: relative;
  z-index: 10;
}

.nav__tab:hover > a {
  color: #fff;
}

@media screen and (max-width: 768.98px) {
  .nav__tab:hover > a {
    color: #000;
  }
}

.nav__tab:hover > .nav__pane {
  display: block;
}

@media screen and (max-width: 768.98px) {
  .nav__tab:hover > .nav__pane {
    display: none;
    -webkit-animation: none;
    animation: none;
  }
}

.nav__tab > a {
  padding: 10px 20px;
  color: #a6a6a6;
  font-weight: 300;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

@media screen and (max-width: 991.98px) {
  .nav__tab > a {
    padding: 10px 12px;
  }
}

.nav__tab:not(:first-child):hover:before {
  border-width: 0 7.5px 7px 7.5px;
}

.nav__tab:not(:first-child):before {
  width: 0;
  height: 0;
  position: absolute;
  top: auto;
  left: 50%;
  right: auto;
  bottom: 0;
  z-index: 12;
  content: "";
  display: block;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-transition: border-width 0.3s;
  transition: border-width 0.3s;
  border-width: 0;
  border-style: solid;
  border-color: transparent transparent #f3f3f3 transparent;
}

@media screen and (max-width: 768.98px) {
  .nav__tab:not(:first-child):before {
    display: none;
  }
}

.nav__tab:nth-child(n + 6) .nav__pane {
  left: auto;
  right: -100px;
}

.nav__tab.now > a {
  color: gray;
}

.nav__pane {
  position: absolute;
  top: 44px;
  left: -100px;
  right: auto;
  bottom: auto;
  z-index: 8;
  display: none;
  padding: 20px 10px;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  /* overflow: auto;
  max-height: 500px; */
}

.nav__pane [class^="col"] {
  width: 265px;
  min-width: 265px;
}

@media screen and (max-width: 1300px) {
  .nav__pane .col:not(:first-child) {
    display: none;
  }
}

@media screen and (max-width: 991.98px) {
  .nav__pane {
    padding: 15px 0;
  }
}

.nav__pane--list .more a {
  font-weight: 700;
}

.nav__pane--list a {
  padding: 12px 15px;
  color: #343434;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 991.98px) {
  .nav__pane--list a {
    padding: 10px 8px;
  }
}

.nav__pane--list a:hover {
  background-color: rgba(205, 205, 205, 0.5);
}

.nav__pane--list .new {
  margin-left: 10px;
  color: #ff0700;
}
.nav__pane--list .compare {
  color: #0f55ec;
  font-weight: 900;
}

.nav__pane--ad {
  color: #343434;
  text-align: center;
}

.nav__pane--ad:hover {
  color: inherit;
}

.nav__pane--name {
  margin-top: 8px;
}

.nav__pane--price {
  color: #cb0000;
  font-size: 1.5rem;
}

@media screen and (max-width: 768.98px) {
  .top-section {
    z-index: 50;
    padding: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-bottom: 1px solid #cdcdcd;
  }
  .top-section.fixed {
    width: 100%;
    position: fixed;
    top: 0;
  }
  .nav {
    position: fixed;
    top: 95px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 80;
    height: calc(100vh - 95px);
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    background-color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .nav.show {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  .nav__tabs {
    width: 100%;
    position: relative;
    height: auto;
    min-height: 100vh;
  }
  .nav__tabs:after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 120px;
    background-color: transparent;
  }
  .nav__tab {
    display: block;
    padding: 0;
  }
  .nav__tab:last-child .nav__pane--list {
    padding-bottom: 30px;
  }
  .nav__tab > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 20px;
    color: #000;
    font-size: 1.25rem;
    border-bottom: 1px solid #cdcdcd;
  }
  .nav__tab > a:hover {
    color: inherit;
  }
  .nav__tab:not(:first-child) > a::after {
    width: 12px;
    height: 12px;
    content: "";
    display: block;
    border-style: solid;
    border-color: #000;
    border-width: 1px 1px 0 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .nav__tab.tab-active > a::after {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .nav__pane {
    position: static;
    display: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
  }
  .nav__pane .col {
    padding: 0;
  }
  .nav__pane--list {
    padding-bottom: 20px;
  }
  .nav__pane--list a {
    padding: 12px 20px;
    font-weight: 300;
  }
}

.main {
  padding-bottom: 10px;
}

.main .container {
  max-width: 1140px;
  padding: 0 21px;
}

.main [class^="col"] {
  margin-bottom: 12px;
  padding: 0 6px;
}

.banner {
  margin-bottom: 30px;
}

@media screen and (max-width: 768.98px) {
  .banner {
    margin-bottom: 15px;
  }
}

.banner .swiper-container img {
  width: 100%;
}

.banner .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100%;
  background: #fff;
  border: 1px solid #a6a6a6;
  opacity: 1;
}

.banner .swiper-pagination-bullet:focus {
  outline: none;
}

@media screen and (max-width: 768.98px) {
  .banner .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}

.banner .swiper-pagination-bullet-active {
  background-color: #cb0000;
}

.banner .swiper-button-next,
.banner .swiper-button-prev {
  width: 60px;
  height: 60px;
  margin-top: -50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media screen and (max-width: 768.98px) {
  .banner .swiper-button-next,
  .banner .swiper-button-prev {
    display: none;
  }
}

.banner .swiper-button-next:focus,
.banner .swiper-button-prev:focus {
  outline: none;
}

.banner .swiper-button-next {
  background-image: url("../img/arrow_right.svg");
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner .swiper-button-next:not(.swiper-button-disabled):hover {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

.banner .swiper-button-prev {
  background-image: url("../img/arrow_left.svg");
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner .swiper-button-prev:not(.swiper-button-disabled):hover {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}

.bn-list {
  margin-bottom: 18px;
}

.bn-list a {
  overflow: hidden;
  text-align: center;
}

.bn-list a img {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.bn-list a:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 1.5s cubic-bezier(0, 0.65, 0, 1);
  transition: 1.5s cubic-bezier(0, 0.65, 0, 1);
}

@media screen and (max-width: 768.98px) {
  .bn-list {
    margin-bottom: 8px;
  }
}

.pd {
  margin-bottom: 68px;
}

.pd--fluid {
  margin-bottom: 30px;
}

.pd--fluid img {
  width: 100%;
}

@media screen and (max-width: 768.98px) {
  .pd {
    margin-bottom: 35px;
  }
  .pd--fluid {
    margin-bottom: 15px;
  }
}

.pd__banner {
  overflow: hidden;
}

.pd__banner img {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.pd__banner:hover img {
  -webkit-transform: scale(1.1) translate3d(0, 0, 0);
  transform: scale(1.1) translate3d(0, 0, 0);
  -webkit-transition: 1.5s cubic-bezier(0, 0.65, 0, 1);
  transition: 1.5s cubic-bezier(0, 0.65, 0, 1);
}

.pd__border {
  border: 1px solid #cdcdcd;
}

.pd__video {
  position: relative;
  overflow: hidden;
}

.pd__video:hover .play {
  opacity: 1;
}

.pd__video:hover .play:after {
  -webkit-animation: circle 1.5s infinite;
  animation: circle 1.5s infinite;
}

.pd__video:hover .play + img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 1.5s cubic-bezier(0, 0.65, 0, 1);
  transition: 1.5s cubic-bezier(0, 0.65, 0, 1);
}

.pd__video .play {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  z-index: 5;
  border-radius: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  opacity: 0.8;
}

@media screen and (max-width: 768.98px) {
  .pd__video .play {
    width: 60px;
    height: 60px;
  }
}

.pd__video .play:after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  z-index: 5;
  content: "";
  display: block;
  border-radius: 50%;
  border: 2px solid #fff;
}

.pd__video .play + img {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

.pd__link {
  height: 100%;
  position: relative;
  padding: 6px 6px 40px;
  text-align: center;
  color: #343434;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 768.98px) {
  .pd__link {
    padding-bottom: 9vw;
  }
}

.pd__link:hover {
  color: #343434;
  text-decoration: none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.pd__link:hover .pd__title:after {
  -webkit-transform: translate(100%, -100%);
  transform: translate(100%, -100%);
}

.pd__title {
  position: relative;
  z-index: 1;
  margin: 0 0 8px;
  padding: 8px 5px;
  color: #fff;
  background-color: #a6a6a6;
  overflow: hidden;
}

.pd__title span {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 575.98px) {
  .pd__title {
    font-size: 2.8vw;
    line-height: 1rem;
  }
}

.pd__title:after {
  width: 120%;
  height: 200%;
  position: absolute;
  top: 0;
  left: -20%;
  right: auto;
  bottom: auto;
  z-index: 0;
  content: "";
  display: block;
  border-radius: 0 0 0 80%;
  background-color: gray;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pd__name {
  margin: 5px 0 0 0;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 575.98px) {
  .pd__name {
    font-size: 3vw;
    line-height: 1.2rem;
  }
}

.pd__price {
  position: absolute;
  top: auto;
  left: 0;
  right: auto;
  bottom: 5px;
  z-index: 1;
  width: 100%;
}

.pd__price--old {
  margin-bottom: 0;
  display: inline-block;
  color: #a6a6a6;
  text-decoration: line-through;
}

@media screen and (max-width: 575.98px) {
  .pd__price--old {
    font-size: 4vw;
  }
}

.pd__price--now {
  margin: 0 0 0 5px;
  display: inline-block;
  color: #ff0700;
  font-size: 1.4rem;
}

.pd__price--now span {
  position: relative;
  bottom: 1px;
  font-size: 0.7em;
}

@media screen and (max-width: 575.98px) {
  .pd__price--now {
    font-size: 5vw;
    line-height: 1;
  }
}

#video .modal-dialog {
  max-width: 800px;
}

#video .modal-content {
  background-color: transparent;
  border: none;
}

#video button.close {
  width: 30px;
  height: 30px;
  background-color: #fff;
}

#video .modal-body {
  padding: 0;
}

.apple-music {
  max-width: 1200px;
  margin: 0 auto 30px;
}

@media screen and (max-width: 768.98px) {
  .apple-music {
    margin-bottom: 15px;
  }
}

.charge {
  max-width: 1750px;
  margin: 0 auto;
}

.charge img {
  width: 100%;
}

.music-remind {
  padding: 20px 15px;
  background-color: #a6a6a6;
}

.music-remind__text {
  max-width: 950px;
  margin: 0 auto;
  color: #5a5a5a;
}

.music-remind p {
  margin-bottom: 8px;
}

.music-remind ul {
  margin-bottom: 0;
  padding: 0 0 0 20px;
  list-style: decimal;
}

.music-remind ul li {
  margin-bottom: 8px;
  line-height: 1.75;
}

.music-remind ul a {
  display: inline-block;
  color: #6283de;
}
/*# sourceMappingURL=all_0623.css.map */
