@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
body,
div,
span,
h1,
p,
a,
img,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: none !important;
  background: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  padding-right: 0 !important;
  -webkit-overflow-scrolling: touch;
  font-family: "Noto Sans TC", "微軟正黑體", Arial, Helvetica, sans-serif;
}

.modal-open {
  overflow: initial !important;
}

a:focus,
button:active,
button:focus,
area:active,
area:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

img {
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.look {
  position: absolute;
  top: 0;
  left: 50%;
  right: auto;
  bottom: auto;
  z-index: 1;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  max-width: none;
  width: 2560px;
  opacity: 0.8;
}

header {
  background-color: #dc0001;
  position: relative;
  padding: 10px 0;
  overflow: hidden;
}
header > .container {
  max-width: 1140px;
  padding: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1199.98px) {
  header > .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 991.98px) {
  header > .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
header .header__logo {
  display: block;
  max-width: 168px;
  margin-right: 12px;
}
header .header__shoplist,
header .header__memberlist {
  line-height: 12px;
}
@media screen and (max-width: 991.98px) {
  header .header__shoplist,
header .header__memberlist {
    display: none;
  }
}
header .header__shoplist li,
header .header__memberlist li {
  display: inline-block;
  line-height: 1.1;
}
header .header__shoplist a,
header .header__memberlist a {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}
header .header__shoplist li {
  padding: 0 10px;
  border-left: 1px solid #fff;
}
header .header__shoplist li:last-child {
  border-right: 1px solid #fff;
}
header .header__memberlist li {
  padding: 0 3px;
}

.footer {
  text-align: center;
  background-color: #5a5a5a;
}

.bank-slogan {
  padding: 15px 10px;
  color: #fff;
  background-color: #343434;
}
.bank-slogan__title {
  display: inline-block;
  padding: 5px 20px;
  font-size: 1.25rem;
  font-weight: 300;
  border: 1px solid #fff;
}
.bank-slogan__text {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}

.pchome-slogan {
  padding: 15px 10px 15px;
  font-size: 16px;
  line-height: 1.75;
  color: #fff;
  background-color: #000;
}

.footer__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-bottom: 15px;
}
.footer__icon-list li {
  display: inline-block;
  margin-bottom: 5px;
  padding: 0 3px;
}
.footer__icon-list img {
  width: 40px;
}

.pchome-slogan__text {
  font-size: 14px;
}
@media screen and (max-width: 575.98px) {
  .pchome-slogan__text {
    font-size: 12px;
  }
  .pchome-slogan__text span {
    display: block;
  }
  .pchome-slogan__text br {
    display: none;
  }
}

.right__box {
  position: fixed;
  top: auto;
  left: auto;
  right: 5px;
  bottom: 20px;
  z-index: 30;
  display: none;
}

.gotop {
  width: 42px;
  height: 42px;
  padding: 7px 6px 3px;
  overflow: hidden;
  background-color: #a6a6a6;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.gotop img {
  width: 100%;
}

.absolute {
  position: absolute;
  left: 50%;
}

.wrap.subscribe {
  overflow: hidden;
  color: #333333;
}
@media only screen and (max-width: 991px) {
  .wrap.subscribe .pc {
    display: none !important;
  }
}
@media only screen and (max-width: 991px) {
  .wrap.subscribe .mb {
    display: block !important;
  }
}
.wrap.subscribe .container {
  width: 1140px;
  max-width: 95%;
  padding: 0;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 767px) {
  .wrap.subscribe .container {
    padding: 0 10px;
  }
}
.wrap.subscribe .sub_title {
  color: #00b183;
  font-size: 2.75rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 767px) {
  .wrap.subscribe .sub_title {
    letter-spacing: 0;
    font-size: 7vw;
    margin-bottom: 1.5rem;
    line-height: 1.3;
  }
}
.wrap.subscribe .sub_title span {
  background: #fff;
  padding: 0 2rem;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  display: inline-block;
  vertical-align: 0;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 991px) {
  .wrap.subscribe .sub_title span {
    padding: 0 1.5rem;
  }
}
@media only screen and (max-width: 767px) {
  .wrap.subscribe .sub_title span {
    padding: 0 0.8rem;
  }
}
.wrap.subscribe .sub_title.underLine::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #00b183;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media only screen and (max-width: 767px) {
  .wrap.subscribe .sub_title.underLine::before {
    top: 55%;
  }
}

.kv_wrap {
  position: relative;
  width: 100%;
  height: 884px;
  padding-top: 4.3rem;
  background: url("../img_subscribe/bg_kv-v2.jpg") bottom center repeat-x #0c1219;
  margin-bottom: 40px;
}
@media only screen and (max-width: 1280px) {
  .kv_wrap {
    height: auto;
    padding-bottom: 12vw;
  }
}
@media only screen and (max-width: 991px) {
  .kv_wrap {
    background: url("../img_subscribe/bg_kv_mb-v2.jpg") bottom center repeat-x #0c1219;
    background-size: cover;
  }
}
@media only screen and (max-width: 767px) {
  .kv_wrap {
    padding-top: 2.5rem;
    padding-bottom: 15vw;
  }
}
.kv_wrap h1 {
  text-align: center;
  color: #fff;
  font-size: 5.6rem;
  -webkit-transform-origin: 50%, 0%;
          transform-origin: 50%, 0%;
}
@media only screen and (max-width: 767px) {
  .kv_wrap h1 {
    font-size: 12vw;
  }
}
.kv_wrap h1 span {
  position: relative;
  font-size: 3.7rem;
  font-weight: 400;
  vertical-align: 0;
  display: inline-block;
  margin: 0 1.3rem 0.5rem;
}
@media only screen and (max-width: 767px) {
  .kv_wrap h1 span {
    font-size: 8vw;
    padding-left: 1vw;
    margin: 0 3vw;
  }
}
.kv_wrap h1 span::before {
  content: "";
  width: 295px;
  height: 130px;
  position: absolute;
  background: url("../img_subscribe/title_border.svg") top center no-repeat;
  background-size: contain;
  top: -16px;
  left: -24px;
}
@media only screen and (max-width: 767px) {
  .kv_wrap h1 span::before {
    width: 41.5vw;
    height: 18vw;
    top: -2.5vw;
    left: -3vw;
  }
}
.kv_wrap h2 {
  text-align: center;
  color: #fff;
  margin-top: 2.5rem;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .kv_wrap h2 {
    margin-top: 2rem;
  }
}
.kv_wrap h2 span {
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 5px;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 100px;
  background-color: #033c81;
  padding: 6px 2rem 9px;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 767px) {
  .kv_wrap h2 span {
    font-size: 5vw;
    letter-spacing: 2px;
    padding: 7px 1.5rem 8px;
  }
}
.kv_wrap h2 hr {
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #fff;
  width: 42rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-49%, -50%);
          transform: translate(-49%, -50%);
  z-index: 0;
}
@media only screen and (max-width: 767px) {
  .kv_wrap h2 hr {
    width: 86vw;
  }
}

.keyPoing {
  width: 1350px;
  max-width: 98%;
  margin: 4rem auto 0;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .keyPoing {
    margin: 3rem auto 0;
  }
}
.keyPoing .circle {
  width: 420px;
  height: 420px;
  border-radius: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
          box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
}
@media only screen and (max-width: 1439px) {
  .keyPoing .circle {
    width: 30vw;
    height: 30vw;
  }
}
@media only screen and (max-width: 991px) {
  .keyPoing .circle {
    width: 40vw;
    height: 40vw;
  }
}
@media only screen and (max-width: 767px) {
  .keyPoing .circle {
    width: 65vw;
    height: 65vw;
    -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
  }
  .keyPoing .circle:nth-child(1) {
    -webkit-transition-delay: 0.4s !important;
            transition-delay: 0.4s !important;
  }
  .keyPoing .circle:nth-child(2) {
    -webkit-transition-delay: 0 !important;
            transition-delay: 0 !important;
  }
  .keyPoing .circle:nth-child(3) {
    -webkit-transition-delay: 0 !important;
            transition-delay: 0 !important;
  }
}
.keyPoing .circle small {
  vertical-align: 0;
  color: inherit;
  font-size: 2.2rem;
}
@media only screen and (max-width: 1280px) {
  .keyPoing .circle small {
    font-size: 3vw;
  }
}
.keyPoing .circle h3 {
  line-height: 1;
  font-size: 4.3rem;
  font-weight: 400;
  text-align: center;
  width: 100%;
  height: 80px;
  margin: 0;
}
@media only screen and (max-width: 1280px) {
  .keyPoing .circle h3 {
    font-size: 5vw;
    height: 6.5vw;
    line-height: 6.5vw;
  }
}
@media only screen and (max-width: 767px) {
  .keyPoing .circle h3 {
    font-size: 9vw;
    height: auto;
    line-height: 1;
  }
}
.keyPoing .circle hr {
  width: 80%;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 767px) {
  .keyPoing .circle hr {
    margin: 3vw auto;
  }
}
.keyPoing .circle p {
  width: 100%;
  height: 108px;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}
@media only screen and (max-width: 1280px) {
  .keyPoing .circle p {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 767px) {
  .keyPoing .circle p {
    height: auto;
    font-size: 4.2vw;
  }
}
.keyPoing .circle.green {
  background-color: #039dcf;
}
.keyPoing .circle.green h3 {
  color: #ffff99;
  font-size: 5rem;
  font-family: "Heebo", "Noto Sans TC", Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 1280px) {
  .keyPoing .circle.green h3 {
    font-size: 6vw;
  }
}
@media only screen and (max-width: 767px) {
  .keyPoing .circle.green h3 {
    font-size: 10vw;
    padding-bottom: 0;
  }
}
.keyPoing .circle.green hr {
  border-bottom: 1px solid #33bfec;
}
.keyPoing .circle.blue {
  background-color: #00ac85;
}
.keyPoing .circle.blue h3 {
  color: #ffff99;
}
.keyPoing .circle.blue hr {
  border-bottom: 1px solid #37deb8;
}
.keyPoing .circle.purple {
  background-color: #a145c7;
}
.keyPoing .circle.purple h3 {
  color: #ffff99;
}
.keyPoing .circle.purple hr {
  border-bottom: 1px solid #c475e5;
}

.join_wrap {
  margin-bottom: 6rem;
}
@media only screen and (max-width: 767px) {
  .join_wrap {
    padding: 0 !important;
    margin-bottom: 3rem;
  }
}
.join_wrap .key_pic {
  width: 250px;
  position: relative;
  margin: -5.5rem auto 2rem;
}
@media only screen and (max-width: 767px) {
  .join_wrap .key_pic {
    width: 45vw;
    margin: -17.5vw auto 2rem;
  }
}
.join_wrap h5 {
  color: #333333;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 1rem 0;
}
@media only screen and (max-width: 991px) {
  .join_wrap h5 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 991px) {
  .join_wrap h5 {
    font-size: 4vw;
    letter-spacing: 0;
  }
}
@media only screen and (max-width: 767px) {
  .join_wrap .key_pic,
.join_wrap .sub_title,
.join_wrap h5 {
    -webkit-transition-delay: 0s !important;
            transition-delay: 0s !important;
  }
}

.pd2Data {
  margin: 2rem 0 0;
}
.pd2Data img {
  padding: 0 5px;
}
.pd2Data li {
  margin-bottom: 20px !important;
}
.pd2Data a {
  outline: none;
  text-decoration: none;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  padding: 5px 0 2.8rem;
  background-color: #fff;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  border: 1px solid #d9d9d9;
  border-radius: 1.5rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
@media only screen and (max-width: 767px) {
  .pd2Data a {
    font-size: 1.1rem;
  }
}
.pd2Data a:hover {
  top: -6px;
  border-width: 1px;
  border-style: solid;
}
.pd2Data a:hover .hotline {
  background: #00b183;
}
.pd2Data a:hover .hotline::after {
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
}
.pd2Data a:hover .icon {
  top: -1px;
}
.pd2Data .icon {
  width: 40px;
  height: 60px;
  padding: 0 0.2rem 1rem;
  position: absolute;
  right: 1rem;
  top: -5rem;
  background: #00b183;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  border-radius: 0 0 50px 50px;
  opacity: 0.9;
  transition: 0.3s all;
}
.pd2Data .hotline {
  position: relative;
  background-color: #29ddad;
  color: #fff;
  padding: 8px 3px;
  margin: 5px 0;
  overflow: hidden;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}
.pd2Data .hotline::after {
  content: "";
  width: 120%;
  height: 200%;
  position: absolute;
  top: 0;
  left: -20%;
  z-index: 0;
  display: block;
  border-radius: 0 0 0 80%;
  background-color: #00b183;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}
.pd2Data .hotline span {
  vertical-align: 0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  position: relative;
  z-index: 1;
}
.pd2Data .pd_name {
  font-weight: 400;
  color: #454545;
  margin-bottom: 8px;
  padding: 0 5px;
}
.pd2Data .price {
  font-size: 1.7rem;
  color: #c90016;
  font-weight: 400;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  font-family: "Heebo", "Noto Sans TC", Arial, Helvetica, sans-serif;
}
.pd2Data .price small {
  font-weight: normal;
  font-size: 18px;
  color: #454545;
  vertical-align: 0;
}
.pd2Data .price small.s1 {
  margin-right: 5px;
}
.pd2Data .price small.s2 {
  margin-right: 2px;
}
.pd2Data .price small.s3 {
  margin-left: 5px;
}
@media only screen and (max-width: 767px) {
  .pd2Data .price small {
    font-size: 14px;
  }
}

.subscribe_step {
  margin-bottom: 7rem;
}
@media only screen and (max-width: 767px) {
  .subscribe_step {
    margin-bottom: 4rem;
  }
}

.order_wrap {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 767px) {
  .order_wrap {
    margin-bottom: 5rem;
  }
}
.order_wrap h5 {
  text-align: center;
  font-size: 2rem;
  height: 45px;
  color: #333333;
}
@media only screen and (max-width: 767px) {
  .order_wrap h5 {
    font-size: 1.4rem;
    height: 60px;
  }
}
.order_wrap h5 i {
  width: 40px;
  height: 38px;
  display: inline-block;
  background: url("../img_subscribe/icon-star.png") top center no-repeat;
  background-size: contain;
  vertical-align: -6px;
  margin-right: 8px;
}
@media only screen and (max-width: 767px) {
  .order_wrap h5 i {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
}
.order_wrap h5 img.logo-24 {
  width: 220px;
  margin: 0 8px 8px;
}
@media only screen and (max-width: 767px) {
  .order_wrap h5 img.logo-24 {
    width: 175px;
    margin-bottom: 4px;
  }
}
.order_wrap h5 img.logo-gogopay {
  width: 150px;
  margin: 0px 8px 6px;
}
@media only screen and (max-width: 767px) {
  .order_wrap h5 img.logo-gogopay {
    width: 115px;
    margin-bottom: 6px;
  }
}
.order_wrap .swiper_box {
  width: 75%;
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .order_wrap .swiper_box {
    width: 95%;
  }
}
.order_wrap .swiper_box img {
  width: 100%;
}
.order_wrap .swiper_box .swiper-slide {
  padding: 2rem;
}
@media only screen and (max-width: 767px) {
  .order_wrap .swiper_box .swiper-slide {
    padding: 1.5rem;
  }
}
.order_wrap .swiper_box .w-100 {
  position: relative;
  border-radius: 3rem;
  -webkit-box-shadow: 0 0 20px rgba(204, 207, 206, 0.5);
          box-shadow: 0 0 20px rgba(204, 207, 206, 0.5);
  padding: 1rem;
  background-color: #fff;
}
@media only screen and (max-width: 767px) {
  .order_wrap .swiper_box .w-100 {
    border-radius: 1.5rem;
    -webkit-box-shadow: 0 0 10px rgba(204, 207, 206, 0.5);
            box-shadow: 0 0 10px rgba(204, 207, 206, 0.5);
  }
}
.order_wrap .swiper_box .w-100::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
  border-radius: 3rem;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 767px) {
  .order_wrap .swiper_box .w-100::before {
    border-radius: 1.5rem;
  }
}
.order_wrap .swiper-button-prev,
.order_wrap .swiper-button-next {
  background: transparent;
  height: auto;
  margin-top: -7rem;
}
@media only screen and (max-width: 767px) {
  .order_wrap .swiper-button-prev,
.order_wrap .swiper-button-next {
    width: 20px;
  }
}
.order_wrap .swiper-button-prev {
  left: -1rem;
}
.order_wrap .swiper-button-next {
  right: -1rem;
}
.order_wrap .swiper-pagination-bullet {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  background-color: #fff;
  border: 2px solid #00b183;
  color: #00b183;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
}
@media only screen and (max-width: 767px) {
  .order_wrap .swiper-pagination-bullet {
    width: 33px;
    height: 33px;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
}
.order_wrap .swiper-pagination-bullet-active {
  color: #ffff99;
  background-color: #00b183;
  border: 2px solid #00b183;
}
.order_wrap .pagination_box {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .order_wrap .pagination_box {
    display: block;
  }
}
.order_wrap .pagination_box .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (max-width: 576px) {
  .order_wrap .pagination_box .pagination {
    max-width: 290px;
    margin: 0 auto;
  }
}
.order_wrap .gobtn {
  height: 50px;
  margin-top: 1.5rem;
  display: inline-block;
  font-size: 1.8rem;
  color: #00b183;
  padding: 0 2rem 0 4.5rem;
  border: 2px solid #00b183;
  border-radius: 100px;
  position: relative;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
@media only screen and (max-width: 767px) {
  .order_wrap .gobtn {
    width: 175px;
    height: auto;
    font-size: 1.4rem;
    padding: 0 0 3px 57px;
    margin-top: 1rem;
  }
}
.order_wrap .gobtn span {
  text-decoration: underline;
}
.order_wrap .gobtn i {
  width: 63px;
  height: 63px;
  display: block;
  background: url("../img_subscribe/icon-search.png") top center no-repeat;
  background-size: contain;
  position: absolute;
  top: -1rem;
  left: 0.5rem;
}
@media only screen and (max-width: 767px) {
  .order_wrap .gobtn i {
    width: 45px;
    height: 54px;
    top: -8px;
    left: 10px;
  }
}
.order_wrap .gobtn:hover {
  background: #00b183;
  color: #ffff99;
}

.recycle_wrap {
  margin-bottom: 7rem;
}
@media only screen and (max-width: 991px) {
  .recycle_wrap {
    margin-bottom: 4rem;
  }
}
.recycle_wrap .sub_title.underLine {
  font-size: 2.5rem;
  color: #333333;
  margin: 1rem 0 4rem;
}
@media only screen and (max-width: 991px) {
  .recycle_wrap .sub_title.underLine {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 991px) {
  .recycle_wrap .sub_title.underLine {
    font-size: 8vw;
  }
}
.recycle_wrap .sub_title.underLine::before {
  background-color: #333 !important;
}
@media only screen and (max-width: 991px) {
  .recycle_wrap ul {
    width: 80%;
    margin: auto;
  }
}
@media only screen and (max-width: 767px) {
  .recycle_wrap ul {
    width: 90%;
  }
}
.recycle_wrap li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.recycle_wrap li p {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  margin: 1rem 0;
}
@media only screen and (max-width: 767px) {
  .recycle_wrap li p {
    font-size: 4.5vw;
    margin: 10px 0;
    line-height: 1.33;
  }
}
.recycle_wrap li img.icon {
  width: 100px;
}
@media only screen and (max-width: 767px) {
  .recycle_wrap li img.icon {
    width: 80px;
  }
}

.qa_wrap {
  margin-bottom: 8rem;
}
.qa_wrap li {
  margin-bottom: 0.5rem;
}
.qa_wrap .btn {
  width: 100%;
  text-align: left;
  color: #fff;
  font-size: 1.35rem;
  background-color: #00b183;
}
@media only screen and (max-width: 991px) {
  .qa_wrap .btn {
    font-size: 1.15rem;
  }
}
.qa_wrap .btn i {
  font-style: normal;
  font-size: inherit;
  vertical-align: 0;
  display: inline-block;
  margin-right: 1rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media only screen and (max-width: 991px) {
  .qa_wrap .btn i {
    margin-right: 10px;
  }
}
.qa_wrap .btn.collapsed {
  color: #333333;
  background-color: #eeeeee;
}
.qa_wrap .btn.collapsed i {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.qa_wrap .btn:not(:disabled):not(.disabled),
.qa_wrap .btn.focus,
.qa_wrap .btn:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.qa_wrap .qa_body {
  font-size: 1.35rem;
  padding: 1rem 2rem 1rem 3rem;
  line-height: 1.8;
  text-align: justify;
}
@media only screen and (max-width: 991px) {
  .qa_wrap .qa_body {
    font-size: 1.15rem;
    padding: 0.8rem;
    line-height: 1.6;
  }
}
.qa_wrap a {
  display: inline-block;
}

.note {
  margin-bottom: 3rem;
}
.note ol {
  font-size: 1rem;
  line-height: 1.8;
  padding-right: 1rem;
}
@media only screen and (max-width: 767px) {
  .note ol {
    -webkit-padding-start: 20px;
            padding-inline-start: 20px;
    padding-right: 0.5rem;
  }
}
.note li {
  margin-bottom: 1rem;
  text-align: justify;
}
.note a {
  display: inline-block;
}