@import 'init';
body {
  overflow-x: hidden;
  &.fixed {
    position: fixed;
  }
}
.pc {
  @include media($pad) {
    display: none;
  }
}
.mb {
  display: none;
  @include media($pad) {
    display: block;
  }
}
.mask {
  @include fixed(0, 0, 0, 0, 99);
  background-color: #fff;
}
//  Apple Icon & topslider 輪播區
.top-section {
  @include flex(space-between, center);
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px;
  background-color: #fff;
  @include media($wide) {
    max-width: 960px;
  }
  &__left {
    @include flex();
    .apple-title {
      margin: 0 25px 0 0;
      font-size: 1.8rem;
      font-weight: 400;
      letter-spacing: 1px;
      @include media($pad) {
        margin-right: 0;
        font-size: 1.3rem;
        font-weight: 500;
      }
    }
    .apple-logo {
      width: 150px;
      max-width: 150px;
      @include media($pad) {
        display: none;
      }
    }
  }

  &__slider {
    max-width: 375px;
    @include media($pad) {
      @include fixed(auto, auto, 0, 0, 50);
      width: 100%;
      max-width: 768px;
    }
  }

  // 手機收合按鈕
  &__btn {
    @include size(30px, 20px);
    display: none;
    @include media($pad) {
      @include flex(space-between, center);
      flex-direction: column;
    }
    span {
      @include size(100%, 2px);
      display: block;
      background-color: $grayBold2;
      transition: all 0.5s ease;
    }
    &.is-opened {
      span:first-child {
        transform: translateY(9px) rotate(45deg);
      }
      span:nth-child(2) {
        transform: scaleX(0);
      }
      span:last-child {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }
  &:after {
    @include size(30px, 20px);
    content: '';
    display: none;
    @include media($pad) {
      display: block;
    }
  }
}

// navbar
.nav {
  padding: 0px 15px;
  background-color: $grayBold2;
  &__tabs {
    margin: 0 auto;
    list-style: none;
  }
  &__tab {
    display: inline-block;
    position: relative;
    z-index: 10;
    &:hover {
      > a {
        color: #fff;
        @include media($pad) {
          color: #000;
        }
      }
      // pane出現
      > .nav__pane {
        display: block;
        @include media($pad) {
          display: none;
          animation: none;
        }
      }
    }
    > a {
      padding: 10px 20px;
      color: $grayLight1;
      font-weight: 300;
      transition: color 0.2s;
      @include media($padLg) {
        padding: 10px 12px;
      }
    }
    //出現下方箭頭
    &:not(:first-child):hover {
      &:before {
        border-width: 0 7.5px 7px 7.5px;
      }
    }
    &:not(:first-child):before {
      @include size(0, 0);
      @include absolute(auto, auto, 0, 50%, 12);
      content: '';
      display: block;
      transform: translate(-50%);
      transition: border-width 0.3s;
      border-width: 0;
      border-style: solid;
      border-color: transparent transparent $grayLight3 transparent;
      @include media($pad) {
        display: none;
      }
    }
    // 面版watch以後則向右對齊
    &:nth-child(n + 6) {
      .nav__pane {
        left: auto;
        right: -100px;
      }
    }
    //目前所在分頁
    &.now > a {
      color: $gray;
    }
  }
  // [ navbar ] pane
  &__pane {
    @include absolute(44px, auto, auto, -100px, 8);
    display: none;
    padding: 20px 10px;
    background-color: $grayLight3;
    box-shadow: 0 3px 6px rgba(#000, 0.2);
    [class^='col'] {
      width: 265px;
      min-width: 265px;
    }

    @include media($pc) {
      .col:not(:first-child) {
        display: none;
      }
    }
    @include media($padLg) {
      padding: 15px 0;
    }
    // [ navbar ] 下拉選單商品列表
    &--list {
      .more {
        a {
          font-weight: 600;
        }
      }
      a {
        padding: 12px 15px;
        color: $grayBold2;
        transition: 0.2s;
        @include media($padLg) {
          padding: 10px 8px;
        }
        &:hover {
          background-color: rgba($grayLight2, 0.5);
        }
      }
      .new {
        margin-left: 10px;
        color: $red;
      }
    }
    // [ navbar ] 下拉選單廣告列表
    &--ad {
      color: $grayBold2;
      text-align: center;
      &:hover {
        color: inherit;
      }
    }
    &--name {
      margin-top: 8px;
    }
    &--price {
      color: $redBold;
      font-size: 1.5rem;
    }
  }
}
// topsection & nav 手機版
@include media($pad) {
  .top-section {
    position: relative;
    z-index: 50;
    padding: 15px;
    transition: 0.3s;
    border-bottom: 1px solid $grayLight2;
    &.fixed {
      width: 100%;
      position: fixed;
      top: 0;
    }
  }
  .nav {
    @include fixed(55px, 0, 0, 0, 80);
    min-height: 100%;
    padding: 0;
    overflow-y: scroll;
    background-color: rgba(#fff, 1);
    border-top: 1px solid $grayLight2;
    transition: 0.3s;
    transform: translateX(-100%);
    // padding-bottom: 15%;
    &.show {
      transform: translate(0);
    }
    &__tabs {
      width: 100%;
      position: relative;
      padding-bottom: 15%;
    }
    &__tab {
      display: block;
      padding: 0;
      &:last-child {
        .nav__pane--list {
          padding-bottom: 80px;
        }
      }
      > a {
        @include flex(space-between, center);
        padding: 12px 20px;
        color: #000;
        font-size: 1.25rem;
        border-bottom: 1px solid $grayLight2;
        &:hover {
          color: inherit;
        }
      }
      &:not(:first-child, :last-child) > a::after {
        @include size(12px, 12px);
        content: '';
        display: block;
        border-style: solid;
        border-color: #000;
        border-width: 1px 1px 0 0;
        transform: rotate(45deg);
        transition: 0.2s;
      }
      &.tab-active > a::after {
        transform: rotate(135deg);
      }
    }
    &__pane {
      position: static;
      display: none;
      padding: 0;
      box-shadow: none;
      overflow: hidden;
      .col {
        padding: 0;
      }
      &--list {
        padding-bottom: 20px;
        a {
          padding: 12px 20px;
          font-weight: 300;
        }
      }
    }
  }
}

// banner&以下區塊
.main {
  padding-bottom: 10px;
  .container {
    max-width: 1140px;
    padding: 0 21px;
  }
  [class^='col'] {
    margin-bottom: 12px;
    padding: 0 6px;
  }
}

// banner輪播
.banner {
  margin-bottom: 30px;
  @include media($pad) {
    margin-bottom: 15px;
  }
  .swiper-container {
    img {
      width: 100%;
    }
  }
  .swiper-pagination-bullet {
    @include size(12px, 12px);
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    border: 1px solid $grayLight1;
    opacity: 1;
    &:focus {
      outline: none;
    }
    @include media($pad) {
      @include size(8px, 8px);
    }
  }
  .swiper-pagination-bullet-active {
    background-color: $redBold;
  }
  .swiper-button-next,
  .swiper-button-prev {
    @include size(60px, 60px);
    margin-top: -50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    @include media($pad) {
      display: none;
    }
    &:focus {
      outline: none;
    }
  }
  .swiper-button-next {
    background-image: url('../img/arrow_right.svg');
    transition: 0.3s;
    &:not(.swiper-button-disabled):hover {
      transform: translateX(10px);
    }
  }
  .swiper-button-prev {
    background-image: url('../img/arrow_left.svg');
    transition: 0.3s;
    &:not(.swiper-button-disabled):hover {
      transform: translateX(-10px);
    }
  }
}

// [bn-list]
.bn-list {
  margin-bottom: 18px;
  a {
    overflow: hidden;
    text-align: center;
    img {
      transition: 0.2s linear;
    }
    &:hover img {
      transform: scale(1.1);
      transition: 1.5s cubic-bezier(0, 0.65, 0, 1);
    }
  }
  @include media($pad) {
    margin-bottom: 8px;
  }
}

// [pd-list]
.pd {
  margin-bottom: 68px;
  &--fluid {
    margin-bottom: 30px;
    img {
      width: 100%;
    }
  }
  @include media($pad) {
    margin-bottom: 35px;
    &--fluid {
      margin-bottom: 15px;
    }
  }
  // [class^="col"] {
  //   visibility: hidden;
  // }
}
.pd__banner {
  overflow: hidden;
  img {
    transition: 0.2s linear;
  }
  &:hover img {
    transform: scale(1.1) translate3d(0, 0, 0);
    transition: 1.5s cubic-bezier(0, 0.65, 0, 1);
  }
}
.pd__border {
  border: 1px solid #cdcdcd;
}
.pd__video {
  position: relative;
  overflow: hidden;
  &:hover {
    .play {
      opacity: 1;
      &:after {
        animation: circle 1.5s infinite;
      }
      & + img {
        transform: scale(1.1);
        transition: 1.5s cubic-bezier(0, 0.65, 0, 1);
      }
    }
  }
  .play {
    @include size(90px, 90px);
    @include absolute(50%, auto, auto, 50%, 5);
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0.8;
    @include media($pad) {
      @include size(60px, 60px);
    }
    &:after {
      @include size(100%, 100%);
      @include absolute(0, auto, auto, 0, 5);
      content: '';
      display: block;
      border-radius: 50%;
      border: 2px solid #fff;
    }
    & + img {
      transition: 0.2s linear;
    }
  }
}
@keyframes circle {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.pd__link {
  height: 100%;
  position: relative;
  padding: 6px 6px 40px;
  text-align: center;
  color: $grayBold2;
  background-color: #fff;
  border: 1px solid $grayLight2;
  transition: 0.3s;
  @include media($pad) {
    padding-bottom: 9vw;
  }
  &:hover {
    color: $grayBold2;
    text-decoration: none;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    .pd__title:after {
      transform: translate(100%, -100%);
    }
  }
}
.pd__title {
  position: relative;
  z-index: 1;
  margin: 0 0 8px;
  padding: 8px 5px;
  color: #fff;
  background-color: $grayLight1;
  overflow: hidden;
  span {
    position: relative;
    z-index: 2;
  }
  @include media($mobile) {
    font-size: 2.8vw;
    line-height: 1rem;
  }
  &:after {
    @include size(120%, 200%);
    @include absolute(0, auto, auto, -20%, 0);
    content: '';
    display: block;
    border-radius: 0 0 0 80%;
    background-color: $gray;
    transition: 0.4s;
  }
}
.pd__name {
  margin: 5px 0 0 0;
  font-size: 1.1rem;
  line-height: 1.5rem;
  @include media($mobile) {
    font-size: 3vw;
    line-height: 1.2rem;
  }
}
.pd__price {
  @include absolute(auto, auto, 5px, 0);
  width: 100%;
  &--old {
    margin-bottom: 0;
    display: inline-block;
    color: $grayLight1;
    text-decoration: line-through;
    @include media($mobile) {
      font-size: 4vw;
    }
  }
  &--now {
    margin: 0 0 0 5px;
    display: inline-block;
    color: $red;
    font-size: 1.4rem;
    span {
      position: relative;
      bottom: 1px;
      font-size: 0.7em;
    }
    @include media($mobile) {
      font-size: 5vw;
      line-height: 1;
    }
  }
}

// pd video modal
#video {
  .modal-dialog {
    max-width: 800px;
  }
  .modal-content {
    background-color: transparent;
    border: none;
  }
  button.close {
    @include size(30px, 30px);
    background-color: #fff;
  }
  .modal-body {
    padding: 0;
  }
}

// apple music
.apple-music {
  max-width: 1200px;
  margin: 0 auto 30px;
  @include media($pad) {
    margin-bottom: 15px;
  }
}

.charge {
  max-width: 1750px;
  margin: 0 auto;
  img {
    width: 100%;
  }
}

.music-remind {
  padding: 20px 15px;
  background-color: $grayLight1;
  &__text {
    max-width: 950px;
    margin: 0 auto;
    color: $grayBold1;
  }
  p {
    margin-bottom: 8px;
  }
  ul {
    margin-bottom: 0;
    padding: 0 0 0 20px;
    list-style: decimal;
    li {
      margin-bottom: 8px;
      line-height: 1.75;
    }
    a {
      display: inline-block;
      color: #6283de;
    }
  }
}
