// @import url("notosanstc.css");

body,
div,
span,
h1,
p,
a,
img,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: none !important;
  background: transparent;
}
html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  padding-right: 0 !important; //modal 開啟抖動bug
  -webkit-overflow-scrolling: touch; // ios滑動效果
  font-family: "Noto Sans TC", "微軟正黑體", Arial, Helvetica, sans-serif;
}
.modal-open {
  overflow: initial !important; //modal 開啟抖動bug
}
a:focus,
button:active,
button:focus,
area:active,
area:focus {
  box-shadow: none;
  outline: 0;
}
img {
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
